<%- include('./patials/header') %>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Todo App</a>
    </nav>


    <div class="container mt-5">
        <form action="/add/todo" class="d-flex" method="POST">
            <input type="text" class="form-control" name="todo" placeholder="Enter your todo!">
            <input type="submit" class="btn btn-md btn-primary mx-2">
        </form>

        <ul class="list-group mt-5">
            
            <% allTodo.forEach(todos => { %>
                <li class="list-group-item d-flex justify-content-between"><%= todos.todo %>
                <div class="">
                    <a href="/edit/todo/<%= todos._id %>"><button class="btn btn-warning mr-3">Edit</button></a>
                    <a href="/delete/todo/<%= todos._id %>"><button class="btn btn-danger">Delete</button></a>
                </div>
                </li>
            <% }) %>
            
        </ul>
    </div>

<%- include('./patials/footer') %>